<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generatore Fauna</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/generatoreFauna.css">
</head>

<body>
    <div class="nav">

        <div class="titolo">
            <a href="/Dm tool alpha/index.html">
                <h1 class="title">DM tool</h1>
            </a>
        </div>
        <div class="nav-menu">
            <img src="../images/icons8-menu-100.png" alt="" width="30px" height="30px" id="hamburger">
        </div>
    </div>
    <h1 class="title-work">WORK IN PROGRESS</h1>
    <div class="menu-mobile">
        <img src="../images/close.png" alt="" width="30px" class="close-icon">
        <h2><a href="/Dm tool alpha/index.html">Calcolatore viaggio</a></h2>
        <h2><a href="./generatoreFauna.html">Generatore Fauna</a></h2>
    </div>
    <!-- SEZIONE HEADER    -->
    <div class="hero">
        <div class="hero-overlay">
            <div class="container-calcoli">
                <div class="selezione">
                    <div class="container-selezione">
                        <label for="ambiente">Ambiente<br></label>
                        <select name="ambiente" id="ambiente" class="input-selezioni">
                            <option value="radura-montagna">Radura Montagna</option>
                            <option value="bosco-montagna">Bosco Montagna</option>
                            <option value="torrente">Torrente</option>
                            <option value="lago-montagna">Lago Montagna</option>
                            <option value="radura-pianura">Radura Pianura</option>
                            <option value="bosco-pianura">Bosco Pianura</option>
                            <option value="fiume-pianura">Fiume Pianura</option>
                            <option value="lago-pianura">Lago Pianura</option>
                            <option value="palude">Palude</option>
                        </select><br>

                        <label for="orario">Orario<br></label>
                        <select name="orario" id="orario" class="input-selezioni">
                            <option value="mattina">Mattina</option>
                            <option value="pomeriggio">Pomeriggio</option>
                            <option value="sera">Sera</option>
                            <option value="notte">Notte</option>
                        </select><br>

                        <label for="clima">Clima<br></label>
                        <select name="clima" id="clima" class="input-selezioni">
                            <option value="sereno">Sereno</option>
                            <option value="nuvoloso">Nuvoloso</option>
                            <option value="pioggia">Pioggia</option>
                            <option value="tempesta">Tempesta</option>
                            <option value="neve">Neve</option>
                        </select><br>
                    </div>
                    <button class="genera-btn">Genera</button>
                </div>
                <div class="risultato">
                    <textarea id='myTextArea' class=" text_area"></textarea>
                </div>
            </div>
        </div>

    </div>
    <script src="../js/generatoreFauna.js"></script>
    <script src="../js/mobile.js"></script>
</body>

</html>