*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #53354A;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.nav{
    width: 100%;
    background-color: #E84545;
    height:60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px #2B2E4A ;
}
.title{
    font-size: 2.5rem;
    font-family: "MedievalSharp", cursive;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    color:white;
    text-shadow: #2B2E4A;
    
}

.selection1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/Complete\ Relma\ -\ No\ grid.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 92%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black ;

}
.titolo1{
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    color: white;

}
input{
    padding: 2px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #53354ac0;
    border: solid 2px #E84545;
    color: white;
    width: 190px;
    font-weight: bold;
   
    }
input:hover{
    background-color: #251821;
}
label{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.9rem;
}

form select{
    margin-bottom: 5px;
    background-color: #caafc19a;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 3px;
    border: solid 2px rgba(0, 0, 0, 0.74);
    width: 200px;
    font-weight: bold;
   }
form select:hover{
    background-color:rgba(245, 222, 179, 0.329);
    border: #53354A 2px solid;
}

form #caselle{
    background-color: #caafc194 ;
    border: solid 2px rgba(0, 0, 0, 0.74);
    color: black;
    
}
form #caselle:hover{
    background-color:rgba(245, 222, 179, 0.329);
    border: #53354A 2px solid;
}
#btn_viaggio{
    background-color: #080a2086;
    width: 100px;
    height: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}
#btn_viaggio:hover{
background-color:#53354A;
}
.btn_viaggio{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#aggiungi_step{
    background-color: #13360e;
    width: 90px;
    height: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 1px;
    
   
}
#aggiungi_step:hover{
    background-color: #21b65f86;
}
#reset{
    background-color: #af2b2b;
    width: 90px;
    height: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 1px;
    
}
#reset:hover{
    background-color:#f86262b0 ;
}


.text_area{
    border-radius: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 200px;
    padding: 5px;
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.616);
    width: 99%;
}
.steps{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#download{
    background-color: #0a0dd1c9;
    width: 90px;
    height: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}
#download:hover{
    background-color:#0a0dd15b;
}